.trending-slider-container {
    border-radius: 20px;
    width: 90%;
    height: 30%;
    margin: 0 auto;
}

.trending-slider-container p {
    color: white;
    font-size: 160%;
}

.trending-slider {
    width: 100%;
    height: 70%;
    display: flex;
    position: relative;
}

.div-anime-img-trending-container {
    border: rgb(36, 36, 36) 3px solid;
    border-radius: 20px;
    display: flex;
    overflow: auto;
    height: 100%;
    width: 100%;
    margin: auto;
    position: relative;
    scroll-behavior: smooth;
}

.div-anime-img-trending-container::-webkit-scrollbar {
    height: 0;
}

.div-anime-img-trending-container .div-anime-img {
    display: inline-block;
    position: relative;
}

.div-anime-img img {
    display: block;
    height: 100%;
    width: auto;
}

.div-anime-img p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 0;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.div-anime-img:hover p {
    opacity: 1;
}

.slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    transition: background-color 0.3s, opacity 0.5s;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.trending-slider:hover .slider-arrow {
    opacity: 1;
}

.slider-arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.upcoming-slider-container {
    border-radius: 20px;
    width: 90%;
    height: 30%;
    margin: 1% auto;
}

.upcoming-slider-container p {
    color: white;
    font-size: 160%;
}

.upcoming-slider {
    width: 100%;
    height: 70%;
    display: flex;
    position: relative;
}

.div-anime-img-upcoming-container {
    border: rgb(36, 36, 36) 3px solid;
    border-radius: 20px;
    display: flex;
    overflow: auto;
    height: 100%;
    width: 100%;
    margin: auto;
    position: relative;
    scroll-behavior: smooth;
}

.div-anime-img-upcoming-container::-webkit-scrollbar {
    height: 0;
}

.div-anime-img-upcoming-container .div-anime-img {
    display: inline-block;
    position: relative;
}

.upcoming-slider:hover .slider-arrow {
    opacity: 1;
}

.slider-arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

footer {
    background-color: #1c1c1c;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

footer * {   
    margin: auto;
    margin-top: 5px;
}

.contact-info h2 {
    text-align: center;
    color: #1c1c1c;
}

.contact-info p {
    text-align: center;
    color: #1c1c1c;
}

.contact-info a {
    color: #017cda;
    text-decoration: none;
    font-weight: bold;
}

.contact-info a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .slider-arrow {
        opacity: 1;
    }
}